[2021-09-30 17:16] swapnilsparsh opened #3 "Improve the UI of Navbar"

[2021-09-30 17:44] swapnilsparsh opened #4 "Add a Call to Action Button on Landing Page"
When clicking on Call to Action it should scroll down to the Ambassador section.

[2021-09-30 17:48] swapnilsparsh opened #5 "Improve the UI of Bottom to Top button"

[2021-09-30 17:50] tnmyk commented on #5
Can u assign it to me?😁

[2021-09-30 17:52] swapnilsparsh opened #6 "Clicking on Heading should redirect to top of page in Landing Page."
![Annotation 2021-09-30 232213](https://user-images.githubusercontent.com/69387608/135506072-af6428cd-9d15-409a-ac86-0941f7a60a6b.png)

[2021-09-30 17:55] yasinbordbar commented on #6
Please assign me to do this.

[2021-09-30 18:05] gokhalevedant06 commented on #3
Can I try this ?

[2021-09-30 18:05] swapnilsparsh opened #7 "Add a Filter Option in Web Dev Page"
Hint: You have to add a label in `Web-dev-data.js` then you can use it to filter out the option from the given options.

[2021-09-30 18:29] yasinbordbar commented on #6
Done!

[2021-09-30 19:12] swapnilsparsh commented on #7
Hi @Bhavin789
It should not be in the dropdown.
You have to show all the filter options on the page adjacent to each other so the user can choose any of them if he/she wants.

[2021-09-30 19:16] Bhavin789 commented on #7
Got it. Kind of a series of labels next to the search maybe with some pre-defined categories right? Like `Icons` , `Illustration` etc.
![image](https://user-images.githubusercontent.com/15359575/135516786-0fef75aa-5599-4667-8040-20b6c702db19.png)

[2021-09-30 19:18] swapnilsparsh commented on #7
Yes.....

[2021-09-30 19:22] #5 closed

[2021-09-30 19:23] Bhavin789 commented on #7
Awesome, will check for some options here. Thanks for the clarity 👍 .

[2021-09-30 19:25] swapnilsparsh commented on #7
Would you like to work on this issue, so I will assign this to you. ?

[2021-09-30 19:28] tnmyk commented on #4
I would love to work on this too!

[2021-09-30 19:29] tnmyk commented on #4
Also can add more details? Exactly where do you want the button to be?

[2021-09-30 19:30] swapnilsparsh commented on #4
Just beside the Discord Button.

[2021-09-30 19:35] tnmyk commented on #7
I would like to work on this too! Although in `Web-dev-data.js` , only one object has label property.

[2021-09-30 19:38] swapnilsparsh commented on #7
You have to make it for others 😅

[2021-09-30 19:49] SayantaniDeb opened #11 "Sticky Navbar and it changes colour when scrolled down the page"
Please assign this task to me.

[2021-09-30 19:52] swapnilsparsh commented on #11
When Scroll down it should have a glassmorphism effect.

[2021-09-30 20:06] swapnilsparsh opened #12 "Add smooth scroll"

[2021-09-30 20:18] lucasgmelo commented on #12
can you assign this issue to me? :)

[2021-09-30 20:52] tnmyk commented on #12
Scrolling animation?

[2021-09-30 20:59] tnmyk opened #15 "Improve search input UI"
The search input's width looks insufficient. Seaching longer keywords can be a little harder.
It would be better to increase the width and improve the UI.

[2021-09-30 20:59] tnmyk commented on #15
If you are okay with the idea,  I would really like to work on this!

[2021-09-30 21:27] meinhoonharsh opened #16 "Router is not working when reloading the any page"
**Describe the bug**
When you visit on any route other than "/" it will be working fine, but as soon as you refresh the Page, It produces an Error
And also If you directly visit any other route, you get the Same Error

**To Reproduce**
Steps to reproduce the behavior:
- First Way
  - Go to https://devempire.netlify.app/
  - Click on ambassador or any other link in the Navbar except home
  - Refres

[2021-09-30 21:54] tnmyk commented on #16
I know how to solve this! Please assign it to me!

[2021-09-30 22:17] tnmyk commented on #16
I ll look into it. Please assign it to me

[2021-09-30 22:27] precious-adeyinka commented on #12
Hey @swapnilsparsh can you provide more description and assign me after the countdown party please?
Thanks!

[2021-10-01 02:57] Swastik1710 opened #17 "Adding a free web dev tool"
**Is your feature request related to a problem? Please describe.**
Adding animated illustrations to a website makes it look a lot more beautiful. But animating it on your own isn't that easy. Moreover, adding GIF or MP4 videos make the website heavy and thus slow.

**Describe the solution you'd like**
There's a website called [LottieFiles](https://lottiefiles.com/) which provides awesome animated

[2021-10-01 03:19] Swastik1710 opened #18 "Adding some more Open Source Programs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I've myself participated in these Open Source Programs
Here are they :
DevScript Winter Of Code [(DWOC)](https://devscript.org/woc/)
25th December - 25th February
DevIncept Contribution Program [(DCP)](

[2021-10-01 03:59] mohittk opened #19 "Removing underline from headings and adding some hover effects"
The underline on words of headings doesn'nt look good according to UX perspective, So I'm removing it. In addition to it, I'm adding particle js.

[2021-10-01 05:34] swapnilsparsh commented on #12
Yes

[2021-10-01 05:35] swapnilsparsh commented on #12
You have to use smooth scroll npm package as in some devices website is laggy.

[2021-10-01 05:39] swapnilsparsh commented on #17
@Swastik1710 Wonderful idea 🤯
Can you describe a little more, where you will be using this on the website?

[2021-10-01 05:41] swapnilsparsh commented on #18
@Swastik1710 I am assigning this issue to you. Please open the PR for these two programs with proper images and details.

[2021-10-01 05:43] Swastik1710 commented on #17
Hey @swapnilsparsh, firstly we can replace all the illustrations used on the website with these.
And secondly, we can add this to the list of web dev tools.

[2021-10-01 05:45] Swastik1710 commented on #18
Sure @swapnilsparsh.
Thanks for assigning.
Shall I make 2 separate PRs for the two programs?

[2021-10-01 05:49] swapnilsparsh commented on #19
If you will remove the underline, how come users will know that it is a link or just a heading?
Assigning this issue to you, please look after it.

[2021-10-01 06:05] swapnilsparsh commented on #17
Ok, when you will change the illustration to Lottie, all the Lootie should not look in different colors or designs.
Keep the color code the same as the website and all the Lottie should be likely the same to each other.
Best of Luck 👍🏼

[2021-10-01 06:08] swapnilsparsh commented on #18
If possible make it 1 PR else you can make 2 PR.

[2021-10-01 06:49] swapnilsparsh commented on #19
Issue resolved by #20

[2021-10-01 06:49] #19 closed

[2021-10-01 07:35] tnmyk commented on #3
Can you assign me?

[2021-10-01 12:45] #4 closed

[2021-10-01 14:57] Hetu1107 commented on #12
can i work on this ?

[2021-10-01 18:00] meinhoonharsh commented on #16
@tnmyk Yeah, you will not get these Issue in React Development Server

[2021-10-01 18:28] tnmyk opened #23 "Add a '404 not found' page on wrong URL."
Adding a 404 page will stop the layout being weird on wrong URLs and also can be potential fix for #16.
I would like to work on this!

[2021-10-01 21:59] precious-adeyinka commented on #12
Sure @swapnilsparsh why not, I want to try, even if I don't have all the details, I will research and read up the docs, so maybe you will have to point me to the specific files to modify and what part of the website needs smooth scrolling alright.

[2021-10-02 06:27] #7 closed

[2021-10-02 06:31] swapnilsparsh commented on #23
Good Luck 😀

[2021-10-02 06:32] #16 closed

[2021-10-02 06:34] swapnilsparsh commented on #12
Sure
You have to add a smooth scroll on the full website.
Should I assign this issue to you?

[2021-10-02 06:34] swapnilsparsh commented on #12
Sure
You have to add a smooth scroll on the full website.
Should I assign this issue to you?

[2021-10-02 06:48] swapnilsparsh commented on #6
@yasinbordbar Any updates? 🙂

[2021-10-02 06:49] swapnilsparsh commented on #11
@SayantaniDeb Any updates? 🙂

[2021-10-02 08:10] #15 closed

[2021-10-02 08:28] Johnisaig commented on #6
Hi @swapnilsparsh, is still open?

[2021-10-02 08:29] swapnilsparsh commented on #6
Yes

[2021-10-02 08:29] Hetu1107 commented on #12
@swapnilsparsh  can I try on this ?

[2021-10-02 08:51] SayantaniDeb commented on #11
I will create the PR by tomorrow. 😅

[2021-10-02 09:31] Johnisaig commented on #6
@swapnilsparsh please review PR #25 thanks.

[2021-10-02 10:09] Hetu1107 commented on #12
hey @swapnilsparsh i have added that smooth scroll but some problem is occuring like on scroll that back to top component is not showing and also on click explore all button.

[2021-10-02 10:47] udz-codes opened #26 "Add description under respective pages (UX)"
Just to improve User Experience, I would like to work on this and add a description of each page under the title. If you have any suggestions like reducing the width or anything, just let me know. I am ready to work on this.

Example:

![image](https://user-images.githubusercontent.com/21984964/135712972-a30d7ed2-9661-4094-bc27-370cb9f39cf7.png)

[2021-10-02 13:09] swapnilsparsh commented on #6
Issue resolved by @Johnisaig #25

[2021-10-02 13:09] #6 closed

[2021-10-02 13:12] swapnilsparsh commented on #12
You might have done something wrong, try to rebase the code with the master branch and then check.

[2021-10-02 13:12] swapnilsparsh commented on #26
Enhance the UX 😍

[2021-10-02 13:18] #23 closed

[2021-10-02 13:22] swapnilsparsh opened #28 "Add a SVG with text if the user didn't get anything in return while searching in all the pages."
![Annotation 2021-10-02 185136](https://user-images.githubusercontent.com/69387608/135718149-5083ebc9-6870-4daa-a41d-1ea846fc6bb4.png)

[2021-10-02 13:23] Hetu1107 commented on #12
I have added one commponent named smooth scroll and added below code in it

import { useEffect } from "react";
import Scrollbar from 'smooth-scrollbar';
var options = {
    damping: 0.07,
}
const SmoothScroll = () =>{
    useEffect(()=>{
        Scrollbar.init(document.body,options);
    },[])
    return null
}

export default SmoothScroll;

and added smoothscroll comp. in app.js i think the issue

[2021-10-02 13:28] Johnisaig commented on #28
Hi Sir @swapnilsparsh, I would like to work on this, could you assign it to me?

[2021-10-02 13:41] swapnilsparsh commented on #12
Resolve it by removing the Hash

[2021-10-02 13:43] Hetu1107 commented on #12
ok let me try

[2021-10-02 17:43] Johnisaig commented on #28
Hi Sir @swapnilsparsh, Please review my PR #32.

Here's the sample web view

![web-view-noresults](https://user-images.githubusercontent.com/45925383/135726879-44d25ccf-e748-4071-9600-a44ef5adea22.png)

Here's the mobile view
![noresult-mobile](https://user-images.githubusercontent.com/45925383/135726889-40efcfa7-3b8b-4357-b20f-c5e5917330c5.png)

[2021-10-02 17:55] #3 closed

[2021-10-02 18:09] swapnilsparsh commented on #28
Issue resolved by @Johnisaig #32

[2021-10-02 18:09] #28 closed

[2021-10-03 08:21] swapnilsparsh commented on #18
Issue resolved by @Swastik1710 #33

[2021-10-03 08:21] #18 closed

[2021-10-03 08:22] swapnilsparsh commented on #17
Issue resolved by @Swastik1710 #34

[2021-10-03 08:22] #17 closed

[2021-10-03 15:14] tnmyk opened #36 "No description for any card"
Some PR has removed the descriptions from the cards in everypage.
Current state of the cards :
![image](https://user-images.githubusercontent.com/73903781/135760406-b1aeaf10-8215-4740-8d05-94ea7131414c.png)

How it should have been :
![image](https://user-images.githubusercontent.com/73903781/135760436-10682d95-d721-4490-bf8f-fbeefa8baa24.png)

I would like to fix this...

[2021-10-03 15:29] jatiinyadav opened #37 "Filter Option in Web Dev Page not working"
While clicking on the  ` Illustration`, `Icons`, and all the filters the resources are not showing according to the filter.

![InkedScreenshot (32)_LI](https://user-images.githubusercontent.com/73248007/135760716-8a50a868-a7bb-42cd-b735-9c3517439597.jpg)

[2021-10-03 15:33] tnmyk commented on #37
Basically PR #32 Is giving issues. Issue #36 is also due to same PR.

[2021-10-03 15:47] tnmyk commented on #36
Cause : PR #32

[2021-10-03 17:02] jatiinyadav commented on #37
Okay, we got it 👍🏻.
This bug has to be resolved asap, so if possible can you please fix it?

[2021-10-03 17:54] SayantaniDeb commented on #11
Hey, I'm closing this issue as i'm having some problem with the glassmorphism effect.

[2021-10-03 17:54] #11 closed

[2021-10-03 17:56] tnmyk commented on #37
Yea u can assign me...

[2021-10-03 19:03] sofisdev commented on #36
I can take care of this! 😀

[2021-10-04 05:09] #26 closed

[2021-10-04 05:28] #37 closed

[2021-10-04 05:37] swapnilsparsh opened #39 "Increase/Boost the speed of the Website."

[2021-10-04 05:39] swapnilsparsh opened #40 "Fix the Navbar"
**FIx the NavBar Bug with BIg Headings.**

![Annotation 2021-10-04 110734](https://user-images.githubusercontent.com/69387608/135799446-e59cf03c-af83-4571-bdc4-afec4ea3b0c2.png)

[2021-10-04 06:27] RShalman commented on #40
I will do this

[2021-10-04 06:51] anishsaraogi commented on #40
I can do this, please assign it to me.

[2021-10-04 07:47] tnmyk commented on #36
@sofisdev u can work on this if u want to..

[2021-10-04 11:37] jatiinyadav opened #43 "Make sure that you are making styling changes in **style.scss** file not in the **style.css** file"
If you are facing any difficulties you can refer this [documentation](https://sass-lang.com/guide).

[2021-10-04 11:37] #43 closed

[2021-10-04 11:49] jatiinyadav opened #44 "Styling changes"
Please do the styling changes in **style.scss** file not in  **style.css**

If you are facing any difficulties you can refer to this [documentation](https://sass-lang.com/guide).

[2021-10-04 12:01] swapnilsparsh commented on #36
Should  I assign this issue to you? 😀

[2021-10-04 12:01] swapnilsparsh commented on #36
@sofisdev Should I assign this issue to you? 😀

[2021-10-04 14:44] rehan-sattar commented on #39
Hi @swapnilsparsh, I can help with this one. Please add description of what's need to be optimized.

Let's make some performance boosts 🚀

[2021-10-04 17:44] B1TSH3LL commented on #40
I can Work On This Please Assign It To Me And Explain A Little Bit what To Do So I Can Add Some Cool Features To As You Say 😊

[2021-10-04 17:46] B1TSH3LL commented on #12
Can I Try This With Coll Animations ???

[2021-10-04 17:52] B1TSH3LL commented on #36
I can work on this issue can you assign it

[2021-10-04 19:23] #44 closed

[2021-10-04 19:38] swapnilsparsh commented on #39
Thank You @rehan-sattar for helping out in this issue.
The website seems to load slow and images take a long time to load and sometimes the icons also didn't load up so please fix this.😅

[2021-10-04 19:43] swapnilsparsh commented on #40
Thank You @B1TSH3LL for showing your interest in the project but this issue is already occupied by someone else but if possible you can explain what changes will you made as you have mentioned that you can explain a little bit if the changes that you suggest will be suitable then I will open a new issue for you.😊

[2021-10-04 19:44] swapnilsparsh commented on #12
Good Luck 👍🏼

[2021-10-04 22:26] rehan-sattar commented on #39
Hi, Thanks @swapnilsparsh. I'll surely look into it and perform some profiling on applicatIon.

Thanks much! :rocket

[2021-10-05 04:13] B1TSH3LL commented on #12
I thaught it was an HTML page to add smooth scroll i didn't started with NPM yet So Sorry Bro I Cant Work On This . :(

[2021-10-05 12:11] Swastik1710 opened #47 "Adding a JS toolkit"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I want to add Angular JS and Next JS to the list of JS toolkits.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-10-05 13:03] helios1101 opened #48 "Adding some Open Source Programs."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I wanted to add some Open Source programs to the list of Open Source Programs.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you'v

[2021-10-05 17:21] #36 closed

[2021-10-05 17:31] jatiinyadav commented on #48
Can you please elaborate, which open-source programs you are going to add?

[2021-10-05 20:50] helios1101 commented on #48
The programs I'll be adding are Script Winter Of Code (SWOC) and Lets Grow More Summer Of Code (LGMSOC) .

[2021-10-06 06:25] #47 closed

[2021-10-06 06:48] swapnilsparsh commented on #48
Issue resolved by @helios1101 #50

[2021-10-06 06:48] #48 closed, assigned to helios1101

[2021-10-07 10:15] helios1101 opened #51 "Adding some JS Toolkits."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I want to add the following JS toolkits to the list :
QNext, ChartJS and Algolia Places

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2021-10-07 11:53] #51 closed, assigned to helios1101

[2021-10-07 13:35] maria5395 opened #53 "New JS toolkits"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like to add some more Js toolkits such as  Lodash, Popper and EmberJS

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2021-10-07 14:00] maria5395 opened #55 "New Web Dev tools"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like to add some helpful Web Development tools in which you can find some top quality images which can be used anywhere.
They are - Unsplash and Pexels.

**Describe alternatives you've considere

[2021-10-07 19:11] #53 closed

[2021-10-07 19:40] jatiinyadav opened #57 "Description of Ambassador Programs"
1. Write a **clear and concise** description of all Ambassador Programs.
2. The Ambassador Program having a heading in 2 lines their description should also be in 2 lines.
3. For reference:

![Screenshot 2021-10-08 010830](https://user-images.githubusercontent.com/73248007/136451288-eb18755e-d100-44ed-ba91-2d59b3402166.png)
-

[2021-10-07 19:41] jatiinyadav opened #58 "Add a Preloader in the website"
1. Make sure to follow the color codes.
2. You can find the color codes of the website here: [CONTRIBUTING.md](https://github.com/swapnilsparsh/DevEmpire/blob/master/CONTRIBUTING.md)

[2021-10-07 19:45] jatiinyadav opened #59 "Alignment of filters"
Align the filters i.e: `Illustration`,`Icons`, `Colors` etc.

![InkedScreenshot 2021-10-08 011146_LI](https://user-images.githubusercontent.com/73248007/136451969-56f92fba-40e9-4867-b735-98f1a17509d2.jpg)

[2021-10-07 21:56] mstofirova commented on #58
Hello, can I work on this?

[2021-10-08 05:49] jatiinyadav commented on #55
This issue #55 has been resolved by @maria5395

[2021-10-08 05:49] #55 closed

[2021-10-08 06:22] jatiinyadav commented on #59
![Screenshot 2021-10-08 115120](https://user-images.githubusercontent.com/73248007/136508092-2af82cb1-b134-47a6-907a-38fe71b9271b.png)

[2021-10-08 06:27] pavankalyan-codes commented on #59
I can work on this. can you pls assign this to me.

[2021-10-08 07:11] swapnilsparsh opened #62 "Add a contributors section in the README.md file"
Just below the Project Maintainer heading add the Contributors Section.

[2021-10-08 09:03] jatiinyadav opened #63 "Fix the Navbar"
1. Increase the space around the hamburger Icon.

![Screenshot 2021-10-08 142745](https://user-images.githubusercontent.com/73248007/136528648-5b4ed13d-1e19-4cb3-944e-fe3c30e7613a.png)

2. Increase the space between the icon and text.
![Screenshot 2021-10-08 143058](https://user-images.githubusercontent.com/73248007/136529312-71f22922-dc79-4405-898a-a2dc9d0cc8b3.png)

[2021-10-08 09:04] #63 closed, assigned to nobody

[2021-10-08 09:05] jatiinyadav opened #64 "Fix the Navbar"
1. Increase the space around the hamburger Icon.

![Screenshot 2021-10-08 142745](https://user-images.githubusercontent.com/73248007/136528648-5b4ed13d-1e19-4cb3-944e-fe3c30e7613a.png)

2. Increase the space between the icon and text.
![Screenshot 2021-10-08 143058](https://user-images.githubusercontent.com/73248007/136529312-71f22922-dc79-4405-898a-a2dc9d0cc8b3.png)

[2021-10-08 09:07] jatiinyadav opened #65 "Align Navbar"
1. Navbar is looking like this:
![Screenshot 2021-10-08 143606](https://user-images.githubusercontent.com/73248007/136529872-d068c4ad-0565-4b61-bcc0-793552035b21.png)

2. It should look like this:-
![Screenshot 2021-10-08 143620](https://user-images.githubusercontent.com/73248007/136529875-c40c1874-9f20-49f7-bcb4-005e05779e91.png)

[2021-10-08 09:09] thevibhu commented on #64
can i take up this issue?

[2021-10-08 09:12] jatiinyadav opened #66 "Discord Button"
1. At smaller screen sizes Discord Button should not stretch.

![InkedScreenshot 2021-10-08 143831_LI](https://user-images.githubusercontent.com/73248007/136530309-4142a1f8-ad51-4409-abd8-dc89569243e5.jpg)

2. It should look like this:-
![Screenshot 2021-10-08 144126](https://user-images.githubusercontent.com/73248007/136530507-9d6ed24d-e6dd-4e70-a7a9-d625877c6221.png)

[2021-10-08 09:19] jatiinyadav opened #67 "Navbar Responsive"
1. Make the Navbar responsive on Ambassador Page.

![Screenshot 2021-10-08 144745](https://user-images.githubusercontent.com/73248007/136531379-b9f00acd-954e-4cc7-bd5f-4cceeec70325.png)

[2021-10-08 09:38] DarkSoul26 commented on #62
@swapnilsparsh  I have tried a lot but the **markdown autodocs** is giving so many errors and the resources to resolve the same are almost none.

[2021-10-08 09:57] DarkSoul26 commented on #67
@jatiinyadav may I do this part?

[2021-10-08 10:03] jatiinyadav opened #69 "Description of Open Source Programs"
![Screenshot 2021-10-08 152409](https://user-images.githubusercontent.com/73248007/136536803-d748e777-b87e-42af-b018-d372afa088f2.png)
1. The card in which the heading is coming in `1 line` the description should come in `3 lines`.
2. The card in which the heading is coming in `2 lines` the description should come in  `2 lines`.

[2021-10-08 10:22] anil-muraleedharan commented on #69
I would like get a clear explanation on the issue, In the card in which the heading comes in 2 lines we need to reduce the description into max 2 lines right! so how are we planning to do this, should we strip the description to fit in 2 lines or any other ways?

[2021-10-08 10:53] alifsiregar commented on #66
Hi @jatiinyadav, may I take this issue? Thanks!

[2021-10-08 11:01] rishiraj52 commented on #67
Can I do this task too?

[2021-10-09 06:15] jatiinyadav commented on #39
@rehan-sattar No Problem 👍🏻

[2021-10-09 07:30] anil-muraleedharan commented on #69
I would like to pick this issue please assign it to me, I have tried out the fix for this.
We can do the stripping based on the character length of both header and description. As per my observations heading with `more than 22 characters` are mostly coming in `2 lines` and for containing the description into `2 lines` we have to strip it with `60 characters`. But very rarely this could fail becaus

[2021-10-09 16:47] swapnilsparsh commented on #62
Do you want to resolve this issue or not?🙂

[2021-10-09 17:02] swapnilsparsh commented on #69
Work on your idea.

[2021-10-09 17:20] DarkSoul26 commented on #62
Sorry @swapnilsparsh, you can assign this task to anyone else. I couldn't resolve it.

[2021-10-10 01:13] alifsiregar commented on #66
I did. The issue is that every time I made any changes in the style.scss, the generated style.css would delete some styling from the previous style.css. It's exactly like [this](https://github.com/swapnilsparsh/DevEmpire/pull/70#issuecomment-939228734) issue.

[2021-10-10 05:50] chris--jones commented on #39
I don't seem to be experiencing any of the performance issues described, however I did optimise the filter and fix the collection keys here: #73

[2021-10-10 07:25] swapnilsparsh commented on #66
@alifsiregar Issure resolved.

[2021-10-10 07:25] #66 closed

[2021-10-10 07:28] #65 closed

[2021-10-10 07:32] #64 closed

[2021-10-10 07:33] swapnilsparsh commented on #58
@mstofirova Any updates?

[2021-10-10 09:07] mstofirova commented on #58
Sorry, i don't have time. You can assign samone else.

[2021-10-10 14:31] SahanAmarsha commented on #62
I would like to work on this issue 😀  @swapnilsparsh

[2021-10-11 15:50] #69 closed, assigned to kannananil

[2021-10-12 00:54] chris--jones commented on #39
Are there any specific issues remaining you'd like me to look at? The site is now loading under 1second for me consistently.

[2021-10-13 08:21] akk312000 commented on #58
I would like to work on this issue, can you please assign it to me @jatiinyadav .

[2021-10-14 13:09] swapnilsparsh commented on #12
Want smooth scroll while scrolling the page.

[2021-10-15 12:06] swapnilsparsh commented on #39
Sorry for the late reply, this issue seems to be resolved. Thank you for your contribution. Looking forward to more such amazing contributions 🥂

[2021-10-15 14:07] #62 closed, assigned to nobody

[2021-10-15 15:10] itsomkathe commented on #57
Hey, can you assign it to me?

[2021-10-15 15:55] #57 closed, assigned to nobody

[2021-10-16 21:33] JanaTod commented on #58
Hi, can I work on this issue?

[2021-10-17 07:22] swapnilsparsh commented on #58
Good Luck 👍🏼

[2021-10-17 15:48] JanaTod commented on #58
@swapnilsparsh Preloader currently looks like this. What do you think? Does it look good or should I make some changes?

https://user-images.githubusercontent.com/91850076/137634699-98fdb7e2-c5df-4880-ae40-3861b2fedb65.mp4

[2021-10-19 02:35] #58 closed

[2021-10-20 13:18] udz-codes opened #80 "Links in Web Dev section not working."
**Describe the bug**
All links in Web Dev page are not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [link](https://devempire.netlify.app/webdev)
2. Click on Any of the items
3. See that it is not working

**Expected behavior**
The expected behaviour is that when we click on any link, it should redirect us to their page.

[2021-10-21 05:54] swapnilsparsh commented on #80
@udz-codes Good Luck 🙂

[2021-10-21 12:42] #80 closed, assigned to udz-codes

[2021-10-24 13:26] rosiegamgee718 opened #82 "Typo for "Start on Github" button on landing page"
There is a typo in the label for the "Start on Github" button on the landing page. (it says "Star" instead.) I think I can fix this if you don't mind assigning it to me :)

[2021-10-25 15:39] #82 closed, assigned to nobody

[2021-11-01 06:35] #12 closed

[2021-12-03 08:27] rushikeshadhav opened #85 "Improve README.md"
**Is your feature request related to a problem? Please describe.**
Some Installation steps needs to be added

[2021-12-03 14:02] swapnilsparsh commented on #85
Every installation step is already there in README, so no need for this issue.

[2021-12-03 14:02] #85 closed

[2021-12-03 16:09] rushikeshadhav commented on #85
hey @swapnilsparsh I mean steps like making a new branch and how to merge forked repo with original repo are missing

[2021-12-03 16:11] rushikeshadhav commented on #85
How to contribute can also be added
1. How to commit (command)
2. How to raise a PR (command)

[2021-12-03 17:52] aditi2906 opened #86 "Toggle Feature for Menu's hamburger icon"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-03 18:07] devstardude opened #87 "Hover on card animation to increase User Experience"
### Possible Feature
When you take your cursor on a particular card that shows information about fellowships and programs, there should be some change in card appearance so that it's differentiable from other card rendering among it, to make the User Experience better.

### Possible Solution
There is a Box shadow property on the card, When the user moves his cursor on a card the shadow should dark

[2021-12-04 04:23] aditi2906 opened #89 "Hover on Navbar Links"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-04 06:26] swapnilsparsh commented on #86
@aditi2906 Can you please provide a SS of the issue?

[2021-12-04 08:13] aditi2906 commented on #86
Initial:

![image](https://user-images.githubusercontent.com/61978541/144702650-f38a18f3-30fa-4dd6-852d-861454f3a293.png)

[2021-12-04 14:52] rushikeshadhav opened #91 "How to raise a PR add to README.md"
**Is your feature request related to a problem? Please describe.**
Some steps to install repo locally are missing like creating a new branch

**Describe the solution you'd like**
1.Creating a new branch,
2. Upstream command
3. Merging forked with original repo
3. How to commit
4. Raise a PR command must be added

If you still find this useless you are free to close this :)

[2021-12-04 16:49] swapnilsparsh commented on #87
Sorry but it's not required.

[2021-12-04 16:49] #87 closed

[2021-12-04 16:50] swapnilsparsh commented on #89
There is already animation and color change on the hover of navbar links.
Anything else?

[2021-12-04 16:52] swapnilsparsh commented on #86
I have assigned you the issue and Good Luck 🙂

[2021-12-04 16:54] swapnilsparsh commented on #91
Not required

[2021-12-04 16:54] #91 closed

[2021-12-05 07:48] nirban256 opened #92 "Display description of the programs on hover"
**Describe the solution you'd like**
When a user hovers over the cards in the pages it will then show the description of the programs after that.

**Describe alternatives you've considered**
At first the cards will show only the name and links but on hover it will show the text below in the card describing the type of the program.

[2021-12-05 16:52] #92 closed

[2021-12-24 09:17] #89 closed

[2021-12-25 17:54] subhradwip01 commented on #86
I would like to work on that issue. Can you please assign it to me?

[2021-12-25 18:09] swapnilsparsh commented on #86
Good Luck 👍🏻

[2022-01-12 07:46] Harsh2220 opened #93 "Responsive problem at card section"
Responsive problem in card - about section text responsive.

Steps:
1) Go To : https://devempire.netlify.app/ambassador
2) select Dimensions: Galaxy Fold

Smartphone:
Device: Galaxy Fold

Screenshots:
![DevEmpire](https://user-images.githubusercontent.com/63700777/149085033-6ea51ad6-59bb-4649-a1ed-0099d83b9a75.jpg)

[2022-01-12 18:09] swapnilsparsh commented on #93
@Harsh2220 Fix it and Good luck 👍🏻

[2022-01-20 07:41] #93 closed

[2022-01-22 09:20] unnati-dot commented on #86
Can i work on this issue?

[2022-01-22 10:36] swapnilsparsh commented on #86
Good Luck 👍🏻

[2022-01-23 10:12] swapnilsparsh commented on #86
#95 Resolved

[2022-01-23 10:12] #86 closed

[2022-02-05 20:15] swapnilsparsh opened #96 "View More button"
Add a view more button which should appear on every card and it should redirect to that particular website.

1. Follow the proper [color codes](https://github.com/swapnilsparsh/DevEmpire/blob/master/CONTRIBUTING.md#color-codes-)
2. UI/UX should be clean.

[2022-02-10 17:39] swapnilsparsh opened #97 "Comvet current React App to Next JS"

[2022-02-10 17:39] #97 closed

[2022-02-11 04:35] rockingrohit9639 commented on #96
I would like to work on this issue @swapnilsparsh

[2022-02-11 06:46] swapnilsparsh commented on #96
Good Luck t👍🏻

[2022-02-13 07:18] rockingrohit9639 commented on #96
Hii @swapnilsparsh Can you please tell me more like where do you want to have the read more button? A screenshot will be perfect. Thank you.

[2022-02-13 10:57] swapnilsparsh commented on #96
It looks great you have to remove the <a> tag from the whole card and apply the redirecting link <a> tag to View More only.

[2022-02-13 12:31] rockingrohit9639 commented on #96
I have done the changes and made a PR. Please have a look at it @swapnilsparsh

[2022-02-14 08:40] #96 closed

[2022-02-14 09:25] swapnilsparsh opened #102 "Fix the 404 Page"
1. Fix the size of SVG
2. Fix the CSS of the `Back to Home` Button

![Screenshot 2022-02-14 145335](https://user-images.githubusercontent.com/69387608/153836067-4515dfa7-6279-4f02-9ebf-7f52fac1e951.png)

[2022-02-14 09:27] swapnilsparsh opened #103 "Make a 500 Page"
Make a new file in the pages folder and name it 505.js and start the work here.
[Reference](https://nextjs.org/docs/advanced-features/custom-error-page)

[2022-02-14 09:28] swapnilsparsh opened #104 "Landing Page SVG"
Landing Page SVG taking more time than expected to load so optimize/fix it

[2022-02-16 04:41] rockingrohit9639 commented on #102
I would like to work on this issue. @swapnilsparsh

[2022-02-19 14:33] swapnilsparsh opened #106 "Make a global search bar at landing page"

[2022-02-22 18:20] swapnilsparsh opened #107 "Restyle Navbar"
Restyle Navbar keeping in mind that many new headings will be coming up in the future.

[2022-02-26 18:10] #102 closed

[2022-02-28 19:17] shubhsardana29 commented on #103
I am a GSSOC'22 participant, I want to work on this issue.

[2022-03-01 01:41] sayan011 commented on #107
Can I work on this **issue**?

[2022-03-01 07:56] swapnilsparsh opened #108 "Implement interaction"
![Screenshot 2022-03-01 132436](https://user-images.githubusercontent.com/69387608/156127885-6fa2a9e8-2a9e-42a3-9a3a-ca2e75a85f59.png)

Implement interaction in this SVG or replace it with your innovative idea

[2022-03-01 09:33] Rituresh143 commented on #108
i am open do work on this problem under Gssoc22 please assign to me

[2022-03-01 09:35] Rituresh143 commented on #103
if in case he is not able to work please assign to me

[2022-03-01 11:07] Rituresh143 commented on #108
we can discuss the problem??

[2022-03-01 11:33] swapnilsparsh commented on #108
Yes, sure
What problem are you facing?

[2022-03-01 11:36] Rituresh143 commented on #108
what actually need to change the SVG photo or any other thing

[2022-03-01 16:41] Jassi10000 commented on #107
@swapnilsparsh  Can I too partner with @sayan011 and work on this issue under GSSOC'22

[2022-03-02 13:55] swapnilsparsh commented on #107
Appreciate your interest but 1 assignee at a time if @sayan011 is not able to complete it then you can work till then look after some issues.
Good Luck 👍🏻

[2022-03-02 13:55] swapnilsparsh commented on #107
Update ?

[2022-03-02 14:34] sayan011 commented on #107
I'm adding some cool Hover effects and remodeling it totally .Actually my end sem exams are going on,so I got a little bit busy with that but I hope I can finish it before saturday.

[2022-03-02 14:44] swapnilsparsh opened #110 "Add new Company AMBASSADOR/LEADER data"
Before Making a PR

1. Don't message in the issue for assigning this issue, open a new issue stating your `AMBASSADOR` which you want to add.

2. Edit only in [Ambassador-Data.js](https://github.com/swapnilsparsh/DevEmpire/blob/master/components/ambassador/Ambassador-Data.js) file
3. Attach a proper image in the [ambassador-img](https://github.com/swapnilsparsh/DevEmpire/tree/master/public/assets/

[2022-03-02 14:47] swapnilsparsh opened #111 "Add new Open Source Programs data"
Before Making a PR

1. Don't message in the issue for assigning this issue, open a new issue stating your `PROGRAM` which you want to add.

2. Edit only in [Programs-Data.js](https://github.com/swapnilsparsh/DevEmpire/blob/master/components/programs/Programs-Data.js) file
3. Attach a proper image in the [programs-img](https://github.com/swapnilsparsh/DevEmpire/tree/master/public/assets/programs-im

[2022-03-02 14:51] swapnilsparsh opened #112 "Add new JS data"
Before Making a PR

1. Don't message in the issue for assigning this issue, open a new issue stating your `JS` which you want to add.

2. Edit only in [JSToolkits-Data.js](https://github.com/swapnilsparsh/DevEmpire/blob/master/components/js-toolkits/JSToolkits-Data.js) file
3. Attach a proper image in the [js-toolkits-img](https://github.com/swapnilsparsh/DevEmpire/tree/master/public/assets/js-too

[2022-03-02 20:44] ShwetKhatri2001 commented on #111
Hi @swapnilsparsh
I'd like to work on this issue. I'm GSSOC22 participant.

[2022-03-02 21:05] swapnilsparsh commented on #111
Open a new Issue stating the program you want to add.

[2022-03-03 05:10] shubhsardana29 commented on #103
@swapnilsparsh please add GSSOC'22 label

[2022-03-03 14:26] #103 closed

[2022-03-05 00:30] yasledesma commented on #106
I think I could implement something like this. Sorry to sound like a newbie, but I am, and I wonder if it should search for the Ambassador
, Programs
, Web Dev
, JS Toolkits data?

If I got it right, I would like to take on this issue as a GsSoC contributor.

[2022-03-05 17:21] swapnilsparsh commented on #106
Yes, it will work that way only.

[2022-03-08 12:31] mishra811 commented on #104
Hey can you please assign me this issue to work on

[2022-03-09 06:00] aryasoni98 opened #114 "Add MLH Fellowship Program"
![MLH-Fellowship](https://user-images.githubusercontent.com/18515597/157381663-34f1248b-5927-4948-8837-51f09bccd758.png)

Major League Hacking (MLH) is a global community for student developers. MLH recently launched a program known as MLH fellowship which is a 12-week remote program where students collaborate on Open Source projects that align their personal interests with the general requirement

[2022-03-09 06:11] aryasoni98 opened #116 "Add Open Mainframe Project Mentorship Program"
Open Mainframe Project also has its own open-source program and the mentees will be able to expand their knowledge on the mainframe technology.

[2022-03-09 06:16] aryasoni98 opened #117 "Add Hyperledger Mentorship Program"
If you’re into the blockchain, this is for you. You can contribute to Hyperledger. This mentorship program allows you to get practical exposure to Hyperledger open source development.

[2022-03-09 06:17] aryasoni98 opened #118 "Add Free Software Foundation (FSF) Internship Program"
If you want to intern at the Free Software Foundation and you know web development, systems, networking, software licensing you can consider the FSF internship program.

[2022-03-12 05:05] MitAbhay opened #119 "Adding new JS Data : Underscore.js"
- Underscore.is a JavaScript utility library that provides various functions for typical programming tasks.
- Gssoc'22 Participant.

[2022-03-20 08:18] swapnilsparsh commented on #104
@mishra811 Good Luck 👍🏻

[2022-03-20 08:23] swapnilsparsh commented on #114
@aryasoni98 It is already there on the website.

[2022-03-20 08:23] #114 closed

[2022-03-20 08:24] swapnilsparsh commented on #116
Provide more details under which section you will be adding it.

[2022-03-20 08:24] swapnilsparsh commented on #116
Provide more details under which section you will be adding it.

[2022-03-20 08:30] #119 closed

[2022-03-20 08:51] #117 closed

[2022-03-20 08:55] aryasoni98 commented on #116
Open Mainframe Project Mentorship Program, mentees will be able to….

- Expand their knowledge of mainframe technology
- Help contribute to open source projects that will make it easier for these infrastructure applications to run on mainframe.
- Learn crucial skills for a intern to be successful in a technology role within today’s enterprise, including but not limited to project planning, communi

[2022-03-20 09:19] mishra811 commented on #104
@swapnilsparsh which branch do I have to work on?

[2022-03-21 18:15] #118 closed

[2022-03-22 11:10] nitishsaini706 opened #123 "Added cool scrolling effect in website"
Added cool scrolling effect on various components in main page

[2022-03-24 19:09] #123 closed

[2022-03-30 16:57] #116 closed

[2022-04-02 06:05] MitAbhay commented on #104
@swapnilsparsh  I want to do this issue, can you assign it to me?

[2022-04-14 12:39] aryasoni98 opened #128 "Add Julia Seasons of Contributions ( JSOC )"
The Julia Seasons of Contributions (JSoC) are the seasonal programs for funding and/or mentoring students and other developers to contribute to the open-source ecosystem. Click on the below link in order to know more about the programs in which they participate and accept the student's applications.

[2022-04-14 12:40] aryasoni98 opened #129 "Add Linux Kernel Mentorship Program"
What can Linux do again that's not sounding interesting? Nothing... Take a look at this other open source program
The Linux Kernel Mentorship Program offers a structured remote learning opportunity to aspiring Linux Kernel developers. Experienced Linux Kernel developers and maintainers mentor volunteer mentees and help them become contributors to the Linux Kernel. The Linux Kernel Mentorship Progr

[2022-04-14 12:40] aryasoni98 opened #130 "Add Open Source Promotion Plan"
Open Source Promotion Plan encourages everyone to pay close attention to open source software and the open-source community, aiming to cultivate and explore more outstanding developers.
The Program for the year 2021 is over but you can bookmark this article as of now and can apply the next year.

[2022-04-14 12:41] aryasoni98 opened #131 "Add Reinforcement Learning Open Source Fest"
The Reinforcement Learning (RL) Open Source Fest is a global online program focused on introducing students to open source reinforcement learning programs and software development while working alongside researchers, data scientists, and engineers on the Real World Reinforcement Learning team at Microsoft Research NYC. Students will work on a four-month research programming project during their br

[2022-05-13 16:55] mayank-del commented on #108
Can I work under this issue under gssoc22?

[2022-05-13 16:58] mayank-del commented on #104
@swapnilsparsh  can you assign this to me, I should also get an opportunity to work  under this issue?

[2022-05-17 02:08] mayank-del commented on #107
@swapnilsparsh  sir, check , i have created a new cool ui for nabar

[2022-05-18 17:41] navyasharma0203 commented on #107
Can I work on this issue..if it isn't closed yet??

[2022-05-18 17:42] navyasharma0203 commented on #104
@swapnilsparsh can I work on this issue??

[2022-05-18 17:43] mayank-del commented on #107
You should wait, i have created a PR .He is doing some work , so please wait untill my pr merged

[2022-05-18 18:31] mayank-del commented on #104
@swapnilsparsh sir, it is not even 7days how you can unassigned me in 5 days.

[2022-05-18 18:33] swapnilsparsh commented on #104
You are working on multiple issue and it's 5 days where there is no update of your work.

[2022-06-22 18:01] #128 closed

[2022-06-22 18:01] #130 closed

[2022-06-22 18:02] #112 closed

[2022-08-04 16:26] nalin-singh commented on #106
I would like to work on this task for SSOC '22

[2022-08-07 05:15] swapnilsparsh commented on #106
Good Luck 👍🏻

[2022-08-07 05:20] swapnilsparsh commented on #104
![SVG](https://user-images.githubusercontent.com/69387608/183276561-af6c35e8-16f4-412b-b008-b23b2e0456df.png)

[2022-08-07 05:54] #110 closed

[2022-08-07 05:54] #111 closed

[2022-08-07 05:59] swapnilsparsh opened #135 "Replace all the current SVG"
Replace all the SVG with some interactive animations or lottie or maybe something else, but keep it related to color code which is there in [CONTRIBUTING.md](https://github.com/swapnilsparsh/DevEmpire/blob/master/CONTRIBUTING.md)

[2022-08-07 05:59] #108 closed

[2022-08-07 06:00] #104 closed

[2022-08-07 09:22] swapnilsparsh opened #136 "Implement Dark mode"
All the color details has been added to [CONTRIBUTING.md](https://github.com/swapnilsparsh/DevEmpire/blob/master/CONTRIBUTING.md)

Take the idea from this [figma file](https://www.figma.com/file/x2Uer8vvMorWCtyyFCanYd/DevEmpire-(Bloo-Lo-Fi)?node-id=259%3A0)

[2022-08-07 09:28] swapnilsparsh opened #137 "Games Page Image"
Games data has already been added. So you have to work on the following things:
1. VIsit every website which is there in [Games-data.js](https://github.com/swapnilsparsh/DevEmpire/blob/master/components/games/Games-Data.js)
2. Take a screenshot or google and take image for the website.
3. Add images [here](https://github.com/swapnilsparsh/DevEmpire/tree/master/public/assets/games-img)
4. Remove th

[2022-08-09 08:17] ayushshaw90 commented on #137
Shall I do this part?

[2022-08-10 06:30] ayushshaw90 commented on #137
https://betterwebtype.com/triangle/
This link of Better Web Type Triangle shows authorized error.

https://vim-adventures.com/
This link of Vim Adventures does not open.

There are two entries for crunch zilla, shall I remove one of them

Shall I remove these entry from  Games-Data.js file.

[2022-08-10 13:16] swapnilsparsh commented on #137
Fix the links accordingly and replace the images with the new ones you are adding.

[2022-08-12 01:06] bradydavenport commented on #137
Hello, I'd like to work on this

[2022-08-13 13:38] ayushshaw90 commented on #137
I have resolved the issue and created a pull request.

[2022-08-13 17:03] #137 closed

[2022-08-14 13:56] OmkarGeedh commented on #136
I would like to contribute to this issue!

[2022-08-16 03:22] swapnilsparsh commented on #136
God Luck 👍🏻

[2022-09-15 09:00] sristis0202 commented on #135
Is this issue still available? If yes then I would like to work on it for SSOC'22.

[2022-09-15 10:02] swapnilsparsh commented on #135
Go ahead

[2022-10-01 17:07] thisisharsh7 commented on #136
@swapnilsparsh  As a hacktoberfest participant, I would like to contribute to this issue. If it is undone, please assign it to me.

[2022-10-06 10:36] ghimanshi commented on #107
Can I work on this?

[2022-10-06 13:07] swapnilsparsh commented on #107
Yes